<h1>プレゼント投稿</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_post_path %>

<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<h3>投稿を検索</h3>
 <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>

<div class="posts-container">

  <% @posts.each do |t| %>
    <div class="post">
    <%= link_to t.user.name, user_path(t.user.id) %>
    <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <%= t.present %>
      <%= t.body %>
      <%= t.relationship %> <%= t.sex %>

      <% if user_signed_in? && current_user.id == t.user_id %>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= button_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
              <p>いいねを取り消す</p><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= button_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <p>いいね</p><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
      <p>いいねの数 = </p><%= t.likes.count %>
  <% end %>

  <%= link_to "詳細へ", post_path(t.id) %>
  
        <%= button_to "削除する", post_path(t.id), method: :delete %>
      <% end %> 
    </div>
  <% end %>

  
</div>